<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <meta charset="UTF-8">
    <title th:text="${folderBean.name}">Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
<div id="testBar"></div>

<div class="container">
    <a class="btn btn-default" href="/">首页</a>
    <a class="btn btn-default" th:href="${folderBean.previousUrl}">上一级</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#uploadModal">单文件上传</button>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <!-- 当前位置 -->
            <input type="hidden" id="CURRENT_POSITION_FOLDER" th:value="${CURRENT_POSITION_FOLDER}" aria-label="当前位置">
            <span th:text="'当前位置：'+${folderBean.absolutePath}"></span>
        </div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th style="width: 300px;">文件名</th>
                <!--                <th>类型</th>-->
                <th>大小</th>
                <th>操作</th>
            </tr>

            <tr th:each="file : ${folderBean.files}" th:if="${!file.isHidden()}">
                <td>
                    <!-- 文件名 -->
                    <a th:if="${file.folder}" th:href="@{/nas(path=${file.absolutePath})}" th:text="${file.name}"></a>
                    <span th:if="${!file.folder}" th:text="${file.name}"></span>
                </td>
                <!-- <td>
                     &lt;!&ndash; 类型 &ndash;&gt;
                     <span th:if="${file.isFolder()}" th:text="文件夹"></span>
                     <span th:if="${!file.isFolder()}" th:text="文件"></span>
                 </td>-->
                <td>
                    <!-- 大小 -->
                    <span th:if="${!file.isFolder()}" th:text="${file.byteSizeDesc}"></span>
                    <span th:if="${file.isFolder()}">-</span>
                </td>
                <td>
                    <span th:if="${file.isProtect()}">受保护</span>
                    <button th:if="${!file.isProtect()}" type="button" class="btn btn-danger btn-sm"
                            th:onclick="[deleteFile([[${file.absolutePath}]])]">删除
                    </button>
                    <a th:if="${!file.isFolder()}" type="button" class="btn btn-info btn-sm"
                       th:href="@{/download(path=${file.absolutePath})}">下载</a>
                    <a th:if="${file.isVideo()}" th:href="@{/jumpToVideo(filePath=${file.absolutePath})}">播放</a>
                </td>
            </tr>
        </table>
    </div>


    <!-- 创建文件夹 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">名称：</span>
                        <input type="text" class="form-control" id="newFolderName" placeholder="文件夹名称"
                               aria-label="文件夹名称">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="createFolder()">保存</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 文件上传 Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadModalLabel">单文件上传</h4>
                </div>
                <div class="modal-body">
                    <form id="uploadForm">
                        <div class="input-group">
                            <span class="input-group-addon">选择文件：</span>
                            <input type="file" class="form-control" id="uploadFile" name="uploadFile" placeholder="文件上传"
                                   aria-label="文件上传">
                        </div>
                    </form>
                    <div id="MyProcessBar"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="uploadFileToServer(this)"
                            data-loading-text="正在上传...">开始上传
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/sweet-alert.min.js"></script>

<script type="text/javascript" src="/static/js/jinn-common.js"></script>
<script type="text/javascript">
    let DOM_NEW_FOLDER_NAME;
    let DOM_CURRENT_POSITION_FOLDER;
    let DOM_MY_MODAL;
    $(function () {
        DOM_NEW_FOLDER_NAME = $("#newFolderName");
        DOM_CURRENT_POSITION_FOLDER = $('#CURRENT_POSITION_FOLDER');
        DOM_MY_MODAL = $("#myModal");
    });

    /**
     * 创建文件夹
     */
    function createFolder() {
        let requestData = {
            position: DOM_CURRENT_POSITION_FOLDER.val(),
            name: DOM_NEW_FOLDER_NAME.val().trim()
        };
        YJ_COMM.ajaxAsyncPostJson({
            url: '/create',
            data: requestData,
            successFnc: function (data) {
                console.log(data);
                if (data.success) {
                    console.log(data.success);
                    window.location.reload();
                } else {
                    alert(data.message);
                }

            }
        });
    }

    /**
     * 删除文件
     */
    function deleteFile(path) {
        swal({
            title: "确认删除?",
            text: '文件：' + path,
            icon: "warning",
            buttons: ["取消", "确认"],
            dangerMode: true,
        }).then((willDelete) => {
            console.log(willDelete);
            if (willDelete) {
                YJ_COMM.ajaxAsyncPostJson({
                    url: '/delete',
                    data: {
                        path: path
                    },
                    successFnc: function (data) {
                        console.log(data);
                        if (data.success) {
                            console.log(data.success);
                            window.location.reload();
                        } else {
                            alert(data.message);
                        }

                    }
                })
            } else {
                //swal("Your imaginary file is safe!");
            }
        });
    }

    /**
     * 上传文件
     * @param btn
     */
    function uploadFileToServer(btn) {
        $(btn).button('loading');

        let files = $('#uploadFile')[0].files;

        let myData = files[0];

        // 初始化进度条
        let myBar = YJ_COMM.processBar.initProcess({
            dom: 'MyProcessBar',
            max: myData.size,
            min: 0,
            now: 0
        });

        YJ_COMM.uploadFileSplit({
            processBarDom: myBar,
            fileName: myData.name,
            position: DOM_CURRENT_POSITION_FOLDER.val(),
            file: myData,
            blockSize: 1024 * 1024 * 10,
            completed: function () {
                $(btn).button('reset');
                window.location.reload();
            }
        });

    }

    /**
     * 下载文件
     * @param filePath 文件绝对路径
     */
    function downloadFile(filePath) {
        YJ_COMM.ajaxAsyncPostJson({
            url: '/download',
            data: {
                path: filePath
            },
            successFnc: function (data) {
                console.log(data);
                if (data.success) {
                    console.log(data.success);
                    window.location.reload();
                } else {
                    alert(data.message);
                }

            }
        })
    }
</script>
</html>