<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <meta charset="UTF-8">
    <title>表格</title>

    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap-table/bootstrap-table.min.css}">

    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
<div class="container">

    <div id="toolbar">

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">加载磁盘: </span>
            <select class="form-control" id="driverRoot" aria-label="加载磁盘">
                <option value="C:\\" selected>C盘</option>
                <option value="D:\\">D盘</option>
                <option value="E:\\">E盘</option>
                <option value="F:\\">F盘</option>
                <option value="G:\\">G盘</option>
                <option value="H:\\">H盘</option>
            </select>
            <a type="button" class="input-group-addon btn btn-default" onclick="reloadDataList()">重载</a>
        </div>
    </div>
    <table id="table">

    </table>
</div>
</body>
<script>
    let queryParams;
    let $DOM_TABLE;
    const queryUrl = "/table/listV2";
    $(function () {
        $DOM_TABLE = $('#table');

        $DOM_TABLE.bootstrapTable({
            toolbar: '#toolbar',
            url: queryUrl,
            method: 'post',
            showColumns: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 20,
            pageList: [20, 50, 100],
            totalField: 'total',
            dataField: 'data',
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            queryParamsType: '',
            classes: 'table table-bordered table-hover',

            queryParams: function (params) {
                if (!queryParams) {
                    queryParams = params;
                    queryParams.queryObj = {
                        path: $('#driverRoot').val(),
                        dotBack: true
                    };
                }
                return queryParams;
            },

            columns: [
                {
                    field: 'name',
                    title: '名称',
                    formatter: function (fieldValue, rowData, rowIndex, fieldName) {
                        if (rowData.folder) {
                            console.log('rowData.absolutePathEncode', rowData.absolutePathEncode);
                            return '<a href="javascript:reloadDataList(\'' + encodeURI(rowData.absolutePathEncode) + '\')">' + fieldValue + '</a>';
                        }
                        return fieldValue;
                    }
                }, {
                    field: 'byteSizeDesc',
                    title: '大小'
                }, {
                    field: 'price',
                    title: '操作'
                }
            ],
            data: getTableData()
        }) // end bootstrapTable


        $('#driverRoot').change(function () {
            reloadDataList($(this).val());
        })
    }); // $(function(){}) end

    function getTableData() {
        return [
            {
                id: 1,
                name: 'Item 1',
                price: '$1'
            }, {
                id: 2,
                name: 'Item 2',
                price: '$2'
            }
        ];
    }

    function reloadDataList(path) {
        path = path ? path : $('#driverRoot').val();
        console.log('path', path);
        queryParams.queryObj = {
            path: path,
            dotBack: true
        };
        $DOM_TABLE.bootstrapTable('refresh', queryParams);

    }
</script>
</html>