<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <meta charset="UTF-8">
    <title>表格</title>

    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/bootstrap-table/bootstrap-table.min.css}">

    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table.min.js"></script>
</head>
<body>
<!--
 col-xs (<768px)
 col-sm (≥768px)
 col-md (≥992px)
 col-lg (≥1200px)
 -->
<div class="container">
    <div class="col-sm-12">
        <div class="well well-sm">
            <!--显示一些信息-->
            <span id="tipMessage">look me !!!</span>
        </div>
    </div>
    <div id="toolbar">
        <div class="col-md-2">
            <div class="input-group">
                <select class="form-control" id="driverRoot" aria-label="加载磁盘">
                    <option value="C:\\">C盘</option>
                    <option value="/Volumes/Repository" selected>/Volumes/Repository</option>
                    <option value="/Users/yuanjin" selected>/Users/yuanjin</option>
                    <option value="E:\\">E盘</option>
                    <option value="F:\\">F盘</option>
                    <option value="G:\\">G盘</option>
                    <option value="H:\\">H盘</option>
                </select>
                <a type="button" class="input-group-addon btn btn-info" onclick="reloadDataList()"><span
                        class="glyphicon glyphicon-repeat"></span></a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="btn-group" role="group" aria-label="操作按钮组">
                <button class="btn btn-default" onclick="openCreateModal()">新建</button>
                <button class="btn btn-default" onclick="alert('待开发')">上传</button>
                <button class="btn btn-default" onclick="downloadFileV2()">下载</button>
                <button class="btn btn-default" onclick="deleteFile()">删除</button>
                <button class="btn btn-default" onclick="getSelectedRow()">获取选中行</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="table"></table>
    </div>
</div>


<!-- 创建文件夹 Modal -->
<div class="modal fade" id="MODAL_CREATE" tabindex="-1" role="dialog" aria-labelledby="MODAL_CREATE_LABEL">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建文件夹</h4>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" id="FORM_CREATE_FOLDER">
                    <div class="input-group">
                        <input type="hidden" name="position" value="" aria-label="位置路径">
                        <span class="input-group-addon" id="basic-addon1">文件夹名称：</span>
                        <input type="text" class="form-control" name="name" placeholder="文件夹名称"
                               aria-label="文件夹名称">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="createFolder()">确认</button>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="/static/js/sweet-alert.min.js"></script>
<script type="text/javascript" src="/static/js/jinn-ajax-util.js"></script>

<script>
    let queryParams;

    let $DOM_TABLE, // 表格
        $DOM_TIP_MESSAGE, // 提示框
        $DOM_DRIVER_DROPDOWN; // 驱动器下拉框

    $(function () {
        $DOM_TIP_MESSAGE = $('#tipMessage');
        $DOM_TABLE = $('#table');
        $DOM_DRIVER_DROPDOWN = $('#driverRoot');

        reLoadDriverDropdownByGetListenList();

        $DOM_TABLE.bootstrapTable({
            toolbar: '#toolbar',
            url: "/table/list",
            method: 'post',
            showColumns: true,
            pagination: true,
            sidePagination: 'client',
            pageSize: 20,
            pageList: [20, 50, 100],
            totalField: 'total',
            dataField: 'data',
            paginationPreText: '上一页',
            paginationNextText: '下一页',
            queryParamsType: '',
            classes: 'table table-bordered table-hover',
            responseHandler: responseHandler(),
            onLoadSuccess: function (data) {
                console.log('table success data', data);
                /*设置当前所在位置*/
                $('input[name=position]').val(data.extendInfo);
            },
            onLoadError: function (data) {
                console.log('table error data', data);
                //window.location.reload();
            },
            ajaxOptions: {
                headers: {
                    'token': localStorage.getItem('token')
                }
            },
            queryParams: function (params) {
                if (!queryParams) {
                    queryParams = params;
                    queryParams.queryObj = {
                        path: $DOM_DRIVER_DROPDOWN.val(),
                        dotBack: true
                    };
                }
                return queryParams;
            },
            onClickRow: function (row, tr) {
                console.log('onClickRow-row', row);
            },
            /*点击选择行*/
            clickToSelect: true,
            columns: [
                // {
                //     field: 'number',
                //     title: '序号',
                //     width: '5%',
                //     align: 'center',
                //     switchable: false,
                //     formatter: function (value, row, index) {
                //         return '<input type="checkbox" name="selectCheckBox" value="' + index + '" aria-label="多选框"/>';
                //     }
                // },
                {
                    checkbox: true,
                    width: '5%',
                    align: 'center',
                    //checkboxEnabled: false
                },
                {
                    field: 'name',
                    title: '名称',
                    formatter: function (fieldValue, rowData, rowIndex, fieldName) {
                        let html = '';
                        if (rowData.folder) {
                            html += '<a href="javascript:reloadDataList(\'' + encodeURI(rowData.absolutePathEncode) + '\')">' + fieldValue + '</a>';
                        } else {
                            html += fieldValue;
                        }
                        if (rowData.protect) {
                            html += '&nbsp;&nbsp;<span class="label label-warning">保护</span>';
                        }
                        return html;
                    }
                }, {
                    field: 'byteSizeDesc',
                    title: '大小'
                }, /*{
                    field: 'price',
                    title: '操作',
                    formatter: function (fieldValue, rowData, rowIndex, fieldName) {
                        return [
                            '<button type="button" class="btn btn-default btn-sm" onclick="deleteFile(' + rowData + ')">删除</button>'
                        ].join("\n");
                    }
                }*/
            ]
        }); // end bootstrapTable


        $DOM_DRIVER_DROPDOWN.change(function () {
            reloadDataList($(this).val());
        })
    }); // $(function(){}) end


    /**
     * 加载监听的驱动
     */
    function reLoadDriverDropdownByGetListenList() {
        AjaxUtil.ajaxAsyncPostJsonWithToken('/table/getListenList', {}, function (data) {
            if (data.statusCode === 200) {
                if (data.data) {
                    $DOM_DRIVER_DROPDOWN.empty();
                    for (let i = 0; i < data.data.length; i++) {
                        let item = data.data[i];
                        $DOM_DRIVER_DROPDOWN.append('<option value="' + item.value + '">' + item.desc + '</option>');
                    }
                }
            }
        })
    }

    function responseHandler() {
        console.log('responseHandler')
    }


    /**
     * 加载表格数据
     */
    function reloadDataList(path) {
        path = path ? path : $DOM_DRIVER_DROPDOWN.val();
        console.log('path', path);
        queryParams.queryObj = {
            path: path,
            dotBack: true
        };
        $DOM_TABLE.bootstrapTable('refresh', queryParams);

    }

    function openCreateModal() {
        $('#MODAL_CREATE').modal({
            show: true,
            backdrop: 'static',
            keyboard: false
        });
    }

    /**
     * 创建文件夹
     */
    function createFolder() {
        let url = '/table/create';
        let formId = 'FORM_CREATE_FOLDER';
        AjaxUtil.postFormWithToken(url, formId,
            function (data) {
                if (data.statusCode === 200) {
                    alert('成功');
                    $('#MODAL_CREATE').modal('hide');
                    reloadDataList($('#FORM_CREATE_FOLDER').find('input[name=position]').val());
                } else {
                    alert(data.message);
                }
            }
        );
    }

    /*获取选中行*/
    function getSelectedRow() {
        let protectNum = 0;

        let rows = $DOM_TABLE.bootstrapTable('getSelections');
        for (let index in rows) {
            if (rows[index].protect) {
                protectNum++;
            }
            console.log('row.protect', rows[index].protect);
        }
        if (protectNum > 0) {
            alert('存在受保护文件个数:' + protectNum);
            return false;
        }
        console.log('selectedRow', rows);
        alert('选中了' + rows.length + '行');
    }

    /**
     * 删除文件
     */
    function deleteFile() {
        alert('待开发');
        return false;
        let protectNum = 0;
        let rows = $DOM_TABLE.bootstrapTable('getSelections');
        for (let index in rows) {
            if (rows[index].protect) {
                protectNum++;
            }
            console.log('row.protect', rows[index].protect);
        }
        if (protectNum > 0) {
            alert('删除失败, 存在受保护文件个数:' + protectNum);
            return false;
        }
        let params = {};
        swal({
            title: '操作提示',
            text: "是否确认删除选中的内容",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "取消",
                },
                confirm: {
                    text: "确认",
                }
            }
        });

        // AjaxUtil.ajaxAsyncPostJson(
        //     "/table/delete",
        //     params,
        //     function (res) {
        //         alert(res.statusCode);
        //     }
        // )

    }

    function downloadFileV2() {

        let rows = $DOM_TABLE.bootstrapTable('getSelections');
        if (rows.length !== 1) {
            alert("一次只能下载一个");
            return false;
        }

        alert(rows[0].absolutePath);

        //window.open("/downloadV2?token="+localStorage.getItem('token')+"&path="+rows[0].absolutePathEncode, "_blank")

        // AjaxUtil.downloadWithToken("/downloadV2?path=" + rows[0].absolutePathEncode);
        AjaxUtil.downloadWithToken({
            name: rows[0].name,
            path: rows[0].absolutePathEncode
        })

    }
</script>
</html>